<script lang="ts">
	import 'bulma/css/bulma.css';
	import '@fortawesome/fontawesome-free/js/all'
	import Nav from '../components/Nav.svelte';

	export let segment: string;
	import { stores } from '@sapper/app';

	const { preloading } = stores();
</script>

<style>
	main.container {
		margin-top: 5%;
		margin-bottom: 5%;
		max-width: 90%;
	}
	#preloading {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10000;
		width: 100%;
		height: 100%;
		background-color: rgba(229, 238, 229, 0.2);
	}
</style>

{#if $preloading}
<div id="preloading"></div>
{/if}

<Nav {segment}/>

<main class="container">
	<slot></slot>
</main>
