<script context="module">
  export async function preload(page, session) {
    const res = await this.fetch(
      `${session.config.appApiUrl}/utils/uid?b=256`,
      { method: "POST" }
    );
    const json = await res.json()
    return { formSession: json.uid };
  }
</script>

<script lang="ts">
  import { onMount } from "svelte";
  import { goto } from "@sapper/app";
  import { stores } from "@sapper/app";
  import { form, bindClass } from "svelte-forms";
  import AutoComplete from "simple-svelte-autocomplete";
  import { EVENT_TYPE } from "../models/Constants";
  import BikeEventLocationPickerMap from "../components/BikeEventLocationPickerMap.svelte";
  import BikePictureUpload from "../components/BikePictureUpload.svelte";
  import EventDatepicker from "../components/EventDatepicker.svelte";
  import BikeColorsPicker from "../components/BikeColorsPicker.svelte";
  import bikeBrands from "../models/constants/bike-brands";

  const { page } = stores();

  export let formSession: string;

  let bikePicturesUploadComponentProps = {
    session: formSession,
  };

  function resolveFormTypeDeclaration(page) {
    const isStolenBikeDeclaration = page.query[EVENT_TYPE.BIKE_THEFT] == "";
    const isFoundBikeDeclaration = page.query[EVENT_TYPE.BIKE_FOUND] == "";
    return isStolenBikeDeclaration || isFoundBikeDeclaration
      ? isStolenBikeDeclaration
        ? EVENT_TYPE.BIKE_THEFT
        : EVENT_TYPE.BIKE_FOUND
      : EVENT_TYPE.BIKE_THEFT;
  }

  // defaut event type is BIKE_THEFT
  let eventType = resolveFormTypeDeclaration($page);

  let datePickerProps = {
    eventType: eventType,
  };

  let pickedAdress;
  let formattedPickedAddress;

  $: if (pickedAdress) {
    formattedPickedAddress = [
      pickedAdress.city,
      pickedAdress.neighbourhood,
    ].join(" - ");
  }

  let hasUserAgreedTermsAndConditions = false;

  let isTermsAndConditionsModalActive = false;

  let formData = {
    event: {
      date: undefined,
      location: {
        latlng: undefined,
        city: undefined,
        neighbourhood: undefined,
      },
    },
    bike: {
      brand: "",
      model: "",
      serialNumber: "",
      bikeType: "",
      details: "",
      colors: [],
    },
    user: {
      name: "",
      email: "",
    },
    misc: {
      howDidYouKnowAboutUs: "",
    },
  };

  const isChecked = (value) => ({ valid: value === true, name: "isChecked" });
  const empty = (value) => ({ valid: value !== "", name: "empty" });
  const eventLocationRequired = (value) => ({
    valid: value.latlng && value.city && value.neighbourhood,
    name: "eventLocationRequired",
  });

  let formValidator = form(
    () => ({
      eventDate: { value: formData.event.date, validators: ["required"] },
      eventLocation: {
        value: formData.event.location,
        validators: [eventLocationRequired],
      },
      bikeBrand: { value: formData.bike.brand, validators: ["required"] },
      bikeType: { value: formData.bike.bikeType, validators: [empty] },
      username: { value: formData.user.name, validators: ["required"] },
      userEmail: { value: formData.user.email, validators: ["email"] },
      howDidYouKnowAboutUs: {
        value: formData.misc.howDidYouKnowAboutUs,
        validators: [empty],
      },
      hasUserAgreedTermsAndConditions: {
        value: hasUserAgreedTermsAndConditions,
        validators: [isChecked],
      },
    }),
    { initCheck: true }
  );

  let selectedEventDate;
  let selectedFormattedEventDate;

  const HOW_DID_YOU_KNOW_US = [
    "Twitter",
    "Facebook",
    "Connaissance / Amis etc..",
    "Moteur de recherche (Google, Bing etc)",
    "Presse",
    "leboncoin.fr",
    "Police",
    "Autre..",
  ];

  const BIKE_TYPES = [
    "VTC",
    "VTT",
    "Vélo de route",
    "Vélo couché",
    "Vélo hollandais",
    "Vélo à assistance électrique",
    "Vélo pliant",
    "Vélomobile",
    "Vélo de transport (tri/bi porteur)",
    "Vélo PMR",
  ];

  function handleAddressPickedMessage(event) {
    pickedAdress = event.detail;
    formData.event.location["city"] = pickedAdress.city;
    formData.event.location["neighbourhood"] = pickedAdress.neighbourhood;
    formData.event.location["latlng"] = pickedAdress.latlng;
  }

  function handleSubmit(e) {
    let apiTarget =
      eventType == EVENT_TYPE.BIKE_THEFT
        ? "/api/stolen_bikes"
        : "/api/found_bikes";

    fetch(apiTarget, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "x-form-session": formSession,
      },
      body: JSON.stringify(formData),
    })
      .then(async (response) => {
        if (response.status != 201) {
          const errData = await response.json();
          throw errData.errors;
        } else {
          return response.json();
        }
      })
      .then((data) => {
        goto(
          `${
            eventType == EVENT_TYPE.BIKE_THEFT
              ? "/stolen_bikes"
              : "/found_bikes"
          }/${data._id}`
        );
      })
      .catch((err) => {
        alert(JSON.stringify(err));
      });
  }

  function handleDeclarationTypeChange(newValue) {
    eventType = newValue;
  }

  function handleEventDateSelected(event) {
    selectedEventDate = event.detail.date;
    selectedFormattedEventDate = event.detail.formatted;
    formData.event.date = selectedEventDate;
  }

  let bikePicturesUploadComponent;
  onMount(() => {
    bikePicturesUploadComponent = BikePictureUpload;
  });
</script>

<svelte:head>
  <title>Déclarer un vélo volé / trouvé</title>
</svelte:head>

<div class="block form-section">
  <h3 class="title is-4">Qu'est-il arrivé ?</h3>

  <div class="field is-grouped">
    <p class="control">
      <button
        class="button {eventType == EVENT_TYPE.BIKE_THEFT
          ? 'is-danger'
          : 'is-light'}"
        on:click={() => handleDeclarationTypeChange(EVENT_TYPE.BIKE_THEFT)}
      >
        on m'a volé mon vélo :'(
      </button>
    </p>
    <!--
    <p class="control">
      <button disabled={true} title="Soon.." class="button {eventType == EVENT_TYPE.BIKE_FOUND ? 'is-primary' : 'is-light'} is-large" on:click={() => handleDeclarationTypeChange(EVENT_TYPE.BIKE_FOUND)}>
        j'ai trouvé un vélo :)
      </button>
    </p>
    -->
  </div>
</div>

<div id="event-section" class="block form-section">
  <h3 class="title is-4">Où et quand ?</h3>
  <div class="field">
    <label for="event-date-picker" class="label">Date *</label>
    <EventDatepicker
      on:dateSelected={handleEventDateSelected}
      {...datePickerProps}
    >
      <button
        class="button {$formValidator.fields.eventDate.valid
          ? ''
          : 'is-danger'}"
      >
        {#if selectedEventDate}
          {eventType == EVENT_TYPE.BIKE_THEFT ? "Volé le" : "Trouvé le"}
          {selectedFormattedEventDate}
        {:else}
          Choisir une date
        {/if}
      </button>
    </EventDatepicker>
  </div>

  <div class="field">
    <label for="pickAddressMapControl" class="label">Lieu *</label>
    <p class="help-paragraph">
      Cliquer sur l'endroit de la carte où a eu lieu l'évenement
    </p>
    <div
      class="control {$formValidator.fields.eventLocation.valid
        ? 'event-location-valid'
        : 'event-location-required'}"
    >
      <BikeEventLocationPickerMap
        on:addressPicked={handleAddressPickedMessage}
      />
    </div>
    {#if pickedAdress}
      <div class="block">
        <p>
          <span
            >{eventType == EVENT_TYPE.BIKE_THEFT
              ? "Lieu de vol du vélo"
              : "Le vélo a été trouvé à"}
          </span><span
            class="tag {eventType == EVENT_TYPE.BIKE_FOUND
              ? 'is-primary'
              : 'is-danger'}"><b>{formattedPickedAddress}</b></span
          >
        </p>
      </div>
    {/if}
  </div>
</div>

<div id="infos-velo-section" class="block form-section">
  <h3 class="title is-4">
    Quelques informations {eventType == EVENT_TYPE.BIKE_THEFT
      ? "sur votre vélo"
      : "sur le vélo trouvé"}
  </h3>

  <div class="field">
    <label for="bikeBrand" class="label">Marque *</label>
    <div class="control">
      <AutoComplete
        items={bikeBrands}
        bind:selectedItem={formData.bike.brand}
        textCleanFunction={(txt) => {
          formData.bike.brand = txt;
          return txt;
        }}
        inputClassName="input {$formValidator.fields.bikeBrand.valid
          ? ''
          : 'is-danger'}"
        placeholder="Trek, BTwin, Kona.."
        noResultsText="Aucun résultat, nous utiliserons {formData.bike.brand}"
        minCharactersToSearch={2}
      />
    </div>
  </div>

  <div class="field">
    <label for="bikeModel" class="label">Modèle</label>
    <div class="control">
      <input
        id="bikeModel"
        class="input"
        type="text"
        bind:value={formData.bike.model}
        placeholder="le modèle du vélo.."
      />
    </div>
  </div>

  <div class="field">
    <label for="bikeColors" class="label">Les couleurs du vélo (max. 3)</label>
    <BikeColorsPicker
      max={3}
      on:colorPicked={(ev) => (formData.bike.colors = ev.detail.colors)}
    />
  </div>

  <div class="field">
    <label for="bikeSerialNumber" class="label">N° de série / Bicycode</label>
    <div class="control">
      <input
        id="bikeSerialNumber"
        class="input"
        type="text"
        bind:value={formData.bike.serialNumber}
        placeholder=""
      />
    </div>
  </div>

  <div class="field">
    <label for="bikeType" class="label">Type du vélo *</label>
    <div class="control">
      <div
        class="select {$formValidator.fields.bikeType.valid ? '' : 'is-danger'}"
      >
        <select
          class="select"
          id="bikeType"
          bind:value={formData.bike.bikeType}
        >
          <option value="">Choisir un type</option>
          {#each BIKE_TYPES as bikeType}
            <option value={bikeType}>{bikeType}</option>
          {/each}
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="message" class="label"
      >Détails / Accessoires / particularités</label
    >
    <div class="control">
      <textarea
        id="message"
        class="textarea"
        bind:value={formData.bike.details}
        placeholder="Ne précisez ici que les éléments remarquables ou inamovibles. Par exemple les rayures, défauts ou pièces spéciales..."
      />
    </div>
  </div>

  <div class="block form-section">
    <label for="message" class="label">Photos du vélo</label>
    <svelte:component
      this={bikePicturesUploadComponent}
      {...bikePicturesUploadComponentProps}
    />
  </div>
</div>

<div class="block form-section">
  <h2 class="title is-4">Gardons le contact</h2>

  <div class="field">
    <label for="username" class="label">Votre nom / pseudonyme *</label>
    <div class="control has-icons-left has-icons-right">
      <input
        id="username"
        class="input"
        type="text"
        bind:value={formData.user.name}
        use:bindClass={{
          form: formValidator,
          name: "username",
          invalid: "is-danger",
        }}
        bindplaceholder="votre nom / pseudo"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user" />
      </span>
    </div>
    <p class="help">....</p>
  </div>

  <div class="field">
    <label for="email" class="label">Votre email *</label>
    <div id="email" class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="email"
        bind:value={formData.user.email}
        use:bindClass={{
          form: formValidator,
          name: "userEmail",
          invalid: "is-danger",
        }}
        placeholder="votre @"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope" />
      </span>
    </div>
    <p class="help">....</p>
  </div>
</div>

<div class="block form-section">
  <h3 class="title is-4">Autres informations..</h3>
  <div class="field">
    <div class="control">
      <div
        class="select  {$formValidator.fields.howDidYouKnowAboutUs.valid
          ? ''
          : 'is-danger'}"
      >
        <select
          id="howDidYouKnowUs"
          bind:value={formData.misc.howDidYouKnowAboutUs}
        >
          <option>Comment nous avez vous connu ? *</option>
          {#each HOW_DID_YOU_KNOW_US as choice}
            <option value={choice}>{choice}</option>
          {/each}
        </select>
      </div>
    </div>
  </div>
</div>

<div class="block form-section">
  <!--
  <Modal bind:active={isTermsAndConditionsModalActive}>
    <div class="block">
      <p style="background: #fff; color: #000">termes et conditions de l'app....</p>
    </div>
  </Modal>
  -->

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input
          id="control"
          type="checkbox"
          bind:checked={hasUserAgreedTermsAndConditions}
        />
        Je suis d'accord avec les
        <a
          href="form#terms"
          on:click={() =>
            (isTermsAndConditionsModalActive = !isTermsAndConditionsModalActive)}
          >termes et conditions du service</a
        >
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button
        class="button {eventType == EVENT_TYPE.BIKE_THEFT
          ? 'is-danger'
          : 'is-success'}"
        on:click={handleSubmit}
        disabled={!$formValidator.valid}
      >
        {eventType == EVENT_TYPE.BIKE_THEFT
          ? "Signaler le vol de mon vélo"
          : "Nous informer du vélo trouvé"}
      </button>
    </div>
  </div>
</div>

<style>
  :global(.datepicker .sc-popover .contents-wrapper) {
    z-index: 10000;
  }

  .form-section {
    margin-bottom: 4%;
  }

  .help-paragraph {
    font-style: italic;
  }

  .event-location-required {
    border: 1px solid #f14668;
  }

  .event-location-valid {
    border: 1px solid transparent;
  }
</style>
