<svelte:head>
	<title>Accueil</title>
</svelte:head>

<script>
	import { EVENT_TYPE } from '../models/Constants'
  import { goto } from '@sapper/app'
</script>

<h1 class="title">
	Vélo volé (ou trouvé) à Nantes Métropole
</h1>

<div class="block">
	<p>
		Nous sommes un <b>collectif de citoyens vivants à Nantes</b>. Nous agissons <b>bénévolement</b> contre ce fléau du vol de vélo qui décourage 25% des victimes d’utiliser cet excellent moyen de transport. 88% des vélos retrouvés ne sont jamais restitués (faute d'en connaitre le.la propriétaire). Nous tentons de faire ce lien pour faciliter les restitutions.	
	</p>
</div>

<div class="block">
	<button on:click={() => goto(`form?${EVENT_TYPE.BIKE_THEFT}`)} class="button is-danger is-medium">Déclarer un vol</button>
	<!--
	<button disabled={true} class="button is-success is-medium">Vous avez trouvé un vélo?</button>
	-->
</div>
