<script context="module" lang="ts">
	import type { Preload } from "@sapper/common";

	export const preload: Preload = async function(this, page, session) {
		const fetchTop3 = async (city: string) => {
			const response = await this.fetch(`/api/stats/top3?city=${city}`);
			return await response.json();
		};

		const fetchAggregatedDataByYear = async () => {
			const response = await this.fetch(`/api/stats/bikes/stolen`);
			return await response.json();
		};

		const [top3Data, aggregatedDataByYear] = await Promise.all([
			fetchTop3("Nantes"),
			fetchAggregatedDataByYear()
		]);
		return { top3Data, aggregatedDataByYear: aggregatedDataByYear.data };
	}
</script>

<script lang="ts">
	import { onMount } from "svelte";
	import Chart from "svelte-frappe-charts";
	import StolenBikesByMonthWithYearSelector from "../components/charts/StolenBikesByMonthWithYearSelector.svelte"

	export let top3Data;
	export let aggregatedDataByYear;

	let data = {
		labels: top3Data.map((city) => city["_id"]),
		datasets: [
			{
				values: top3Data.map((city) => city["count"]),
			},
		],
	};	

	let chartComponent: Chart;
	let chartComponent2: StolenBikesByMonthWithYearSelector;

	onMount(() => {
		chartComponent = Chart;
		chartComponent2 = StolenBikesByMonthWithYearSelector;
	});
</script>

<svelte:head>
	<title>Statistiques</title>
</svelte:head>

<div class="chart-container">
	<h4 class="title is-4">
		Top 3 des quartiers Nantais les plus touchés par le vol
	</h4>
	<svelte:component this={chartComponent} type="bar" data={data} />
</div>

<div class="chart-container">
	<h4 class="title is-4">
		Evolution du nombre de vols par mois
	</h4>
	<svelte:component this={chartComponent2} type="line" data={aggregatedDataByYear} />
</div>

<style>
	.chart-container {
		width: 100%;
	}
</style>
