<script>
  import Chart from "svelte-frappe-charts";
  import { months } from "../../models/constants/labels";

  export let data;

  let years = Object.keys(data).sort((a, b) => parseInt(a) < parseInt(b));
  let selectedYear = years[0];

  const tooltipOptions = {
    formatTooltipY: (d) => `${d} vol${d > 1 ? "s": ""}`
  };

  $: chartData = {
    labels: months,
    datasets: [
      {
        values: data[selectedYear].map((item) => item.count)
      }
    ]
  };
</script>

<div class="select">
  <select id="year-selector" bind:value={selectedYear}>
    {#each years as year}
      <option value={year}>{year}</option>
    {/each}
  </select>
</div>
<Chart type="line" data={chartData} {tooltipOptions} />

<style>
  :global(.graph-svg-tip .title) {
    color: #959da5;
  }
</style>
