<script>
import SwiperCore, { Navigation, Pagination, A11y, Lazy } from 'swiper'
import {Swiper, SwiperSlide} from 'swiper/svelte'
import 'swiper/swiper.min.css'
import 'swiper/components/navigation/navigation.min.css'
import 'swiper/components/pagination/pagination.min.css'

export let pictures

SwiperCore.use([Navigation, Pagination, A11y, Lazy]);

</script>

<Swiper
  spaceBetween={50}
  slidesPerView={1}
  navigation
  pagination={{ clickable: true, dynamicBullets: true, type: 'bullets' }}
  lazy={true}
>
  {#each pictures as bikePicture }
  <SwiperSlide>
    <img class="has-ratio" src={bikePicture.uri} alt="Placeholder">
    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
  </SwiperSlide>				
  {/each}
</Swiper>

