<script>
  import { createEventDispatcher } from 'svelte'

  export let max = 3

  const dispatch = createEventDispatcher()

  const colors = [
    {name: "vert", hex: "#008000", selected: false},
    {name: "bleu", hex: "#0000FF", selected: false},
    {name: "rouge", hex: "#FF0000", selected: false},
    {name: "rose", hex: "#FFC0CB", selected: false},
    {name: "jaune", hex: "#FFFF00", selected: false},
    {name: "orange", hex: "#FFA500", selected: false},
    {name: "gris", hex: "#808080", selected: false},
    {name: "blanc", hex: "#FFFFFF", selected: false},
    {name: "noir", hex: "#000000", selected: false}
  ]
 
  function buildStyle(color) {
    return `background-color:${color.hex}`
  }

  let pickedColors
  let maxColorsPickedReached = false

  $: {
    pickedColors = colors.filter(c => c.selected).map(c => ({name: c.name, hex: c.hex}))
    maxColorsPickedReached = pickedColors.length >= max
    dispatch('colorPicked', {colors: pickedColors})
  }
</script>

<style>
  .pick-color-button {
    border-radius: 2px;
    margin-right: 5px;
    min-width: 35px;
  }
</style>

<div class="colors-picker">
  {#each colors as color}
    <button title="{color.name}"
      class="button pick-color-button is-small {color.selected ? 'is-selected' : ''}"
      style={buildStyle(color)}
      disabled={maxColorsPickedReached && !color.selected}
      on:click={() => color.selected = !color.selected}>
      {#if color.selected}
      <i class="fas fa-check is-small"></i>
      {/if}
    </button>
  {/each}
</div>