<script>
  
  import { onMount } from 'svelte';

  export let location
  let L
  let map
  
  function createMap(eventLocation, container) {
    const initialView = L.latLng(location.latlng.lat, location.latlng.lng);
    let m = L.map(container, {preferCanvas: true }).setView(initialView, 14.5);
    L.tileLayer(
      'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
      {
        attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
          &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
        subdomains: 'abcd',
        maxZoom: 18,
      }
    ).addTo(m);

    let eventLocationMarker = L.marker(eventLocation.latlng);
    eventLocationMarker.addTo(m);

    return m;
  }
    
  onMount(async () => {

    L = await import('leaflet');

    map = createMap(location, document.getElementById('bike-event-location-map'))
  
    /* return {
      destroy: () => {
        map.remove();
        map = null;
      }
    }; */

  })
	
	function resizeMap() {
	  if(map) { map.invalidateSize(); }
  }

</script>
<svelte:window on:resize={resizeMap} />

<style>
	#bike-event-location-map {
    height: 450px;
    max-width: 600px;
  }
</style>

<div id="bike-event-location-map" class="map"/>