<script>
  import FilePond, { registerPlugin } from 'svelte-filepond'
  import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
  // import FilePondPluginImageCrop from 'filepond-plugin-image-crop'
  import FilePondPluginImageResize from 'filepond-plugin-image-resize'
  import FilePondPluginImageTransform from 'filepond-plugin-image-transform'
  import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
  import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'


  export let session

  let pond 
  let name = 'filepond'
  
  registerPlugin(
    FilePondPluginImagePreview,
    FilePondPluginImageResize,
    FilePondPluginImageTransform,
    FilePondPluginFileValidateType,
    FilePondPluginFileValidateSize
  )

  const serverConfig = {
    process: {
      url: '/api/pictures',
      method: 'POST',
      headers: {
        'x-form-session': session
      }
    }
  }

  function handleInit() {

  }

  function handleAddFile() {

  }
</script>

<FilePond bind:this={pond} {name}
    server={serverConfig}
    maxFiles={3}
		allowMultiple={true}
		oninit={handleInit}
		onaddfile={handleAddFile}
    imageResizeTargetWidth={300}
    acceptedFileTypes={['image/png', 'image/jpeg']}
    maxFileSize="1MB"
    />