<script>
  
  import { onMount, createEventDispatcher } from 'svelte';

  let map;
  let pickedAddressMarker;

  const dispatch = createEventDispatcher();
  
  function createMap(container) {
    const initialView = L.latLng(47.21723624490803,-1.5537071228027344);
    let m = L.map(container, {preferCanvas: true }).setView(initialView, 12.5);
    L.tileLayer(
      'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
      {
        attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
          &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
        subdomains: 'abcd',
        maxZoom: 18,
      }
    ).addTo(m);

    return m;
  }
    
  function mapAction(container) {

    map = createMap(document.getElementById('bike-event-location-picker-map')); 
    
    map.on('click', async function(ev){
      var latlng = map.mouseEventToLatLng(ev.originalEvent);
      const response = await fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latlng.lat}&lon=${latlng.lng}`)
      const json = await response.json()

      const pickedAdress = {
        latlng: latlng,
        city: json.address.city || json.address.town || json.address.village,
        neighbourhood: json.address.neighbourhood || json.address.suburb || json.address.hamlet || json.address.road
      }

      if (pickedAddressMarker) {
        pickedAddressMarker.remove();
      }

      pickedAddressMarker = L.marker(latlng);
      pickedAddressMarker.addTo(map);

      dispatch('addressPicked', pickedAdress)
    });

    return {
      destroy: () => {
        map.remove();
        map = null;
      }
    };
  }

  onMount(async () => {

    const L = await import('leaflet');

    mapAction()
  
  })
	
	function resizeMap() {
	  if(map) { map.invalidateSize(); }
  }

</script>
<svelte:window on:resize={resizeMap} />

<style>
	#bike-event-location-picker-map {
    height: 300px;
  }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<div id="bike-event-location-picker-map" class="map"/>