<script>
  import Datepicker from 'svelte-calendar'
  import { createEventDispatcher } from 'svelte'
  import { EVENT_TYPE } from '../models/Constants'
  import moment from 'moment'

  let dateChosen

  const end = new Date()

  const daysOfWeek = [
    ['Dimanche', 'Dim'],
    ['Lundi', 'Lun'],
    ['Mardi', 'Mar'],
    ['Mercredi', 'Mer'],
    ['Jeudi', 'Jeu'],
    ['Vendredi', 'Ven'],
    ['Samedi', 'Sam']
  ];

  const monthsOfYear = [
    ['Janvier', 'Jan'],
    ['Février', 'Fév'],
    ['Mars', 'Mar'],
    ['Avril', 'Avr'],
    ['Mai', 'Mai'],
    ['Juin', 'Juin'],
    ['Juillet', 'Jui'],
    ['Aout', 'Aou'],
    ['Septembre', 'Sep'],
    ['Octobre', 'Oct'],
    ['Novembre', 'Nov'],
    ['Décembre', 'Déc']
  ];

  const dispatch = createEventDispatcher()
  
  let selectedDate

	function dateSelected(event) {
    let formatted = moment(event.detail.date).format('DD/MM/yyyy')
    selectedDate = formatted
		dispatch('dateSelected', {
      date: event.detail.date,
      formatted: moment(event.detail.date).format('DD/MM/yyyy')
		});
	}
</script>

<!-- format={'#{d}/#{m}/#{Y}'}  -->
<!--bind:formattedSelected={formModel.event.date} -->
<Datepicker 
  bind:dateChosen {end}
  {daysOfWeek} {monthsOfYear}
  on:dateSelected={dateSelected}
  >
  <slot></slot>
</Datepicker> 