<script lang="ts">
	export let segment: string;

	let isMenuActive = false


</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	[aria-current] {
		position: relative;
		display: inline-block;
	}

	[aria-current]::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>

<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item icon is-large" on:click={() => isMenuActive = false} href=".">
      <i class="fas fa-home"></i>
    </a>

    <button role="button" on:click={() => isMenuActive = !isMenuActive} 
			class="button navbar-burger is-light {isMenuActive ? 'is-active':''}" aria-label="menu" aria-expanded="false" data-target="navbar-more">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
		</button>
  </div>

  <div id="navbar-more" class="navbar-menu {isMenuActive ? 'is-active':''}">
    <div class="navbar-start">
      <a class="navbar-item" on:click={() => isMenuActive = false} aria-current="{segment === 'form' ? 'page' : undefined}" href="form">
				Signaler
			</a>

			<a class="navbar-item" on:click={() => isMenuActive = false} aria-current="{segment === 'stolen_bikes' ? 'page' : undefined}" href="stolen_bikes">
				Vélos volés
			</a>

			<a class="navbar-item" on:click={() => isMenuActive = false} aria-current="{segment === 'stats' ? 'page' : undefined}" href="stats">
				Statistiques
			</a>
    </div>

    <div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
        <a href="#more" class="navbar-link">
          Plus
        </a>

        <div class="navbar-dropdown">
          <a href="about" class="navbar-item">
            About
          </a>
          <a href="#contact" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a href="https://gitlab.com/edikabe/velovoleapp" class="navbar-item">
            Report an issue
          </a>
					<a href="/admin" on:click={() => isMenuActive = false} class="navbar-item">
            Admin
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
