<script>
  export let url
  export let totalPages
  export let currentPage

  $: pages = Array.from({ length: totalPages }, (item, index) => {
    const pageIndex = index + 1
    return {
      index: pageIndex,
      isCurrent: pageIndex === currentPage
    }
  })
</script>

<nav class="pagination is-small" role="navigation" aria-label="pagination">
  <!--
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  -->
  <ul class="pagination-list">
    {#each pages as page}
    <li>
      <a href={`${url}?page=${page.index}`} class="pagination-link {page.isCurrent ? 'is-current' : ''}" aria-label="Goto page {page.index}">{page.index}</a>
    </li>
    {/each}
  </ul>
</nav>
<!--
total: {totalPages} - current: {currentPage}
-->