<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Merci d'avoir signaler le vol</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  * {
    font-family: Verdana; 
  }
</style>

<h1>Merci de votre signalement</h1>

<p>
  La fiche de vol est en attente de modération.<br/>
  Une fois validée, vous recevrez une confirmation sur cette adresse mail.
  <!--pouvez retrouver la fiche de vol <a href="http://localhost:3000/stolen_bikes/{{_id}}">ici</a>-->
</p>
{{#bike.pictures}}
<div>
  <h3>{{originalname}}<h3>
  <img src="{{uri}}"/>
</div>
{{/bike.pictures}}
