<script context="module">
	export async function preload({ params }) {
		// the `slug` parameter is available because
		// this file is called [slug].svelte
		const res = await this.fetch(`api/stolen_bikes/${params.slug}`);
		const data = await res.json();

		if (res.status === 200) {
			return { stolenBikeEvent: data.stolen_bike };
		} else {
			// this.error(res.status, data.message);
		}
	}
</script>

<script>
import { onMount } from "svelte"
import BikeEventLocationMap from "../../components/BikeEventLocationMap.svelte"
import BikePicturesSwiper from "../../components/BikePicturesSwiper.svelte"

export let stolenBikeEvent;

let bikePicturesSwiperComponent
let bikePicturesSwiperComponentProps = {
	pictures: stolenBikeEvent.bike.pictures
}

onMount(() => {

	bikePicturesSwiperComponent = BikePicturesSwiper

})

</script>

<svelte:head>
	<title>Vélo volé de {stolenBikeEvent.user.name}</title>
</svelte:head>


<nav class="breadcrumb" aria-label="breadcrumbs">
	<ul>
		<li><a href="../stolen_bikes">retour à la liste</a></li>
		<li class="is-active"><a href="#d" aria-current="page">Vélo de {stolenBikeEvent.user.name}</a></li>
	</ul>
</nav>

<div class="content">

	<div class="card">
	
		<h1 class="title is-3">
				Vélo de {stolenBikeEvent.user.name}
		</h1>
		
		<div class="card-image">
			<div style="width: 600px">
				{#if bikePicturesSwiperComponent}
					<svelte:component this={bikePicturesSwiperComponent} {...bikePicturesSwiperComponentProps}/>	
				{:else}
					loading...
				{/if}				
			</div>	
		</div>	
		<div class="card-content">

			<div class="columns">
				<div class="column">
					<BikeEventLocationMap location={stolenBikeEvent.event.location}></BikeEventLocationMap>
				</div>				
				<div class="column">
					<pre>{JSON.stringify(stolenBikeEvent.event.location, null, 2)}</pre>
				</div>	
			</div>
			<div class="media">
				<div class="media-left">
					<figure class="image is-48x48">
						<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder">
					</figure>
				</div>
				<div class="media-content">
					<p class="title is-4">{stolenBikeEvent.user.name}</p>
					<p class="subtitle is-6">Pas content</p>
				</div>
			</div>
	
			<div class="content">
				<pre>{JSON.stringify(stolenBikeEvent.bike, null, 2)}</pre>
			</div>
		</div>
	</div>
</div>
