<script context="module">
	import moment from 'moment'
	
	export async function preload(page) {
		const queryPage = page.query.page || 1
    const response = await this.fetch(`/api/stolen_bikes?page=${queryPage}`)
    const json = await response.json()
    return { bikes: json.data, pages: json.pagination.pages, currentPage: json.pagination.current }
	}
</script>

<script>

	import Pagination from "../../components/Pagination.svelte"

	export let bikes = []
	export let pages
	export let currentPage

</script>

<svelte:head>
  <title>Liste des vélos volés</title>
</svelte:head>

<h1 class="title is-3">Liste des vélos volés</h1>

<ul>
	{#each bikes as bike}
		<!-- we're using the non-standard `rel=prefetch` attribute to
				tell Sapper to load the data for the page as soon as
				the user hovers over the link or taps it, instead of
				waiting for the 'click' event -->
		<li><a sapper:prefetch href="stolen_bikes/{bike._id}">{moment(bike.event.date).format('DD/MM/yyyy')} - {bike.event.location.city}/{bike.event.location.neighbourhood} - {bike.user.name} - {bike.bike.brand}</a></li>
	{/each}
</ul>
<Pagination bind:currentPage={currentPage} totalPages={pages} url="/stolen_bikes"></Pagination>